#
# file: Kconfig-board
#
# author: Copyright (C) 2016 -2017 Cezary Gapinski cezary.gapinski@gmail.com
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

source "$OUTPUT/Kconfig-boardOptions"

comment "Custom board options"

config BOARD_SPIS_ENABLE
	bool "Enable spis"
	default y
	help
		Enables custom board SPI configuration.