#
# file: Kconfig-boardOptions
#
# author: Copyright (C) 2016 Cezary Gapinski cezary.gapinski@gmail.com
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

if BOARD_NUCLEO_L073RZ_CUSTOM

config BOARD_TOTAL_BUTTONS
	int
	default 1

config BOARD_TOTAL_LEDS
	int
	default 1
	
config BOARD_TOTAL_SPIS
	int
	default 1

config BOARD_INCLUDES
	string
	default "board/NUCLEO-L073RZ_CUSTOM/include"

config BOARD
	string
	default "NUCLEO-L073RZ_CUSTOM"

endif	# BOARD_NUCLEO_L073RZ_CUSTOM
